<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QuestStore</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/styles.css" rel="stylesheet">
    <link href="../static/fonts/ChessType.ttf" rel="stylesheet">
</head>
<body id="pageTop">


<div class="container-fluid d-flex align-items-center" id="login">
    <div class="mx-auto text-center">
        <h1>Pixel Shop</h1>
        <form method="POST">
            <div class="col-lg-12"><label>
                <input type="text" name="username" value="username">
            </label></div>
            <div class="col-lg-12"><label>
                <input type="password" name="password" value="password">
            </label></div>
            <div class="col-lg-12"><input type="submit" value="Login"></div>


        </form>
    </div>
</div>


</body>
<script src="../static/js/userPage.js"></script>
<!-- Bootstrap core JavaScript -->
<script src="../static/js/jquery/jquery.min.js"></script>
<script src="../static/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="../static/js/jquery-easing/jquery.easing.min.js"></script>
<script src="../static/js/questStore.min.js"></script>
<script>

    $('input:text').focus(
        function () {
            $(this).val('');
        });
    $('input:password').focus(
        function () {
            $(this).val('');
        });
</script>
</html>