@font-face {
    font-family: ChessType;
    src: url('../fonts/ChessType.ttf');
}

#mainNav {
    font-family: ChessType, serif;
}

#mainNav a {
    color: floralwhite;
}

#mainNav p {
    color: floralwhite;
    margin: 0;
}

#mainNav .navbar-toggler {
    font-size: 80%;
    padding: .75rem;
    color: #64a19d;
    border: 1px solid #64a19d
}

#mainNav .navbar-toggler:focus {
    outline: 0
}

#mainNav .navbar-brand {
    font-weight: 700;
    padding: .9rem 0
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
    outline: 0;
    background-color: transparent
}

header {
    font-family: ChessType, serif;

    height: 100vh;
    background-image: url("../img/bgLight.png");
}

header h1 {

    font-size: 4.5rem;
    line-height: 4.5rem;
    letter-spacing: 1.4rem;
    background: -webkit-linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, 0.5));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text
}

section#profile {
    min-height: 70vh;
    background-image: url("../img/bgDark.png");
    font-family: ChessType, serif;
    color: floralwhite;
}

section#profile #playerInfo {
    padding: 5%;
    border: white 2px dotted;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 1%;
}

section#profile #playerInfoText {
    display: none;
}


section#profile #statistic {
    padding: 5%;
    border: white 2px dotted;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 1%;
}

section#profile #items {

    border: white 2px dotted;
    background-color: rgba(255, 255, 255, 0.1);
    padding-bottom: 1%;
    margin: 1%;
}

section#profile #statisticText {
    display: none;
}


section#profile img {
    border-radius: 8px;
    height: 150px;
    width: 150px;
}

section#profile img:hover {
    opacity: 0.4;
    cursor: pointer;
}

section#shop {
    background-image: url("../img/bgLight.png");
    min-height: 70vh;
}

img.image {
    height: 180px;
    width: 180px;
}

.artifact_overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 180px;
    width: 180px;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(219, 219, 219);

}

/*@media (max-width: 1000px) {*/
/*    section#shop .artifact_overlay {*/
/*        left: 20%;*/
/*    }*/
/*}*/

/*@media (max-width: 800px) {*/
/*    section#shop .artifact_overlay {*/
/*        left: 31%*/
/*    }*/
/*}*/

/*@media (max-width: 500px) {*/
/*    section#shop .artifact_overlay {*/
/*        left: 22%;*/
/*    }*/
/*}*/

/*@media (max-width: 300px) {*/
/*    section#shop .artifact_overlay {*/
/*        left: 9%;*/
/*    }*/
/*}*/


section#shop .artifact_container:hover .artifact_overlay {
    opacity: 0.8;
}

section#shop .artifact_container {
    position: relative;
    cursor: pointer;
}

section#shop .artifact_text_title {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 12px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

section#shop .artifact_text_description {
    color: rgb(0, 0, 0);
    font-size: 12px;
    position: absolute;
    font-style: italic;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

section#shop .artifact_text_cost {
    color: rgb(0, 0, 0);
    font-size: 12px;
    position: absolute;
    top: 86%;
    right: -3%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

section#shop .artifact_text_cost img.icon {
    padding: 0 3px;
    width: 20px;
    height: 20px;
    vertical-align: -5px;
}

#login {
    background-image: url("../img/bgDark.png");
    height: 100vh;
}
#login input{
    opacity: 0.2;
    margin: 2%;
}

#login input:hover{
    opacity: 0.4;
}

#login input:focus{
    opacity: 0.4;
}